.hvu-services-page {
    /* padding: 40px 20px; */
    text-align: center;
}

.hvu-hero-section {
    position: relative;
    margin-bottom: 150px;
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: center;
    overflow: hidden;

}

.hvu-hero-section .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: 0;
}

.hvu-hero-section h1 {
    font-size: 48px;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    color: #fff;
    position: relative;
    z-index: 1;
}

.hvu-hero-section p {
    font-family: 'Arial', sans-serif;
    position: relative;
    z-index: 1;
    font-style: italic;
    color: #fff;
}

.hvu-services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.hvu-service-card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.hvu-service-card:hover {
    transform: translateY(-5px);
}

.hvu-service-icon {
    font-size: 40px;
    margin-bottom: 15px;
}